/* Strucure: */
/* root */
/* all */
/* components */
/* effects */
/* wrapper */
/* header */
/* slider */

:root
{
    --dark-text-color: #5e5e5e;
    --light-text-color: #cbcacb;

    --accent-color:#ffc222;
    --dark-color:#303030;

    /* images */
    --slider-photo-1: url(../img/slider-photo.png);
}

*
{
    box-sizing: border-box;
}

body
{
    /* font-family: 'PT Serif', serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color:var(--dark-text-color);
}

a
{
    text-decoration: none;
    display: inline-block;
    color: var(--dark-text-color);
    padding: 5px 20px;    
}

ul,
li
{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Components */
.c-default-btn
{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    margin-top: 3rem;
    padding: 8px 30px;
    border: 1px solid var(--accent-color);
    border-right-width: 50px;
}

/* Effects */

/* Wrapper */
.container
{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__contacts
{
    display: flex;
}

/* Header */
.header__top
{
    background-color: var(--dark-color);
}

.header__btn
{
    margin-left:auto;
    line-height: 45px;
    background-color: var(--accent-color);
}

.header__phone,
.header__email
{
    color: var(--light-text-color);
    letter-spacing: 0,25px;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.header__content
{
    padding: 35px 0px 25px;
}

.header__content-inner
{
    display: flex;
    justify-content: space-between;
}

.menu li
{
    display: inline-block;
}

.menu li+li
{
    padding-left: 10px;
}

.menu a
{
    color: var(--dark-text-color);
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all 0.5s;
}

.menu a:hover
{
    border-color: var(--accent-color);
}
/* Slider */
.slider
{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider::after
{
    content: '';
    background: var(--slider-photo-1) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(50%);
}

.slider__item-content
{
    text-align: center;
    padding-top: 110px;
    min-width: 660px;
    margin: 0 auto;
}

.slider__title
{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
}

.slider-text
{
    line-height: 25px;
    font-size: 18px;
    color: var(--light-text-color);
    margin-bottom: 50px;
}

.slider__btn
{
    position: relative;
}
