/* ======== Strucure: ======== */
/* Root */
/* All */
/* Components */
/* Effects */
/* Wrapper */
/* Header Section */
/* Slider Section*/
/* About Section */

/* ======== Root ========  */
:root
{
    /* -------- Colors -------- */
    --dark-text-color: #5e5e5e;
    --light-text-color: #cbcacb;

    --accent-color:#ffc222;
    --dark-color:#303030;
    --transparent-color: rgba(0, 0, 0, 0);

    /* -------- images --------*/
    --slider-photo-1: url(../img/slider-photo.png);

    /* -------- Fonts -------- */
    --font-1: 'Roboto', sans-serif;
    --font-2: 'PT Serif', serif;
}

/* ======== All ========  */
*
{
    box-sizing: border-box;
}

body
{
    /* font-family: 'PT Serif', serif; */
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color:var(--dark-text-color);
}

a
{
    text-decoration: none;
    display: inline-block;
    color: var(--dark-text-color);
    padding: 5px 20px;    
}

ul,
li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4
{
    font-family: var(--font-2);
}

/* ======== Components ======== */
.c-default-btn
{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    margin-top: 3rem;
    padding: 8px 30px;
    border: 1px solid var(--accent-color);
    border-right-width: 50px;
}

/* ======== Effects ========*/

/* ======== Wrapper ========*/
.container
{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__contacts
{
    display: flex;
}

/* ======== Header Section ========*/
.header__top
{
    background-color: var(--dark-color);
}

.header__btn
{
    margin-left:auto;
    line-height: 45px;
    background-color: var(--accent-color);
}

.header__phone,
.header__email
{
    color: var(--light-text-color);
    letter-spacing: 0,25px;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.header__content
{
    padding: 35px 0px 25px;
}

.header__content-inner
{
    display: flex;
    justify-content: space-between;
}

.menu li
{
    display: inline-block;
}

.menu li+li
{
    padding-left: 10px;
}

.menu a
{
    color: var(--dark-text-color);
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all 0.5s;
}

.menu a:hover
{
    border-color: var(--accent-color);
}

/* ======== Slider Section ======== */
.slider
{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider::after
{
    content: '';
    background: var(--slider-photo-1) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(50%);
}

.slider__item-content
{
    text-align: center;
    padding-top: 110px;
    min-width: 660px;
    margin: 0 auto;
}

.slider__title
{
    font-family: var(--font-2);
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
}

.slider__text
{
    line-height: 25px;
    font-size: 18px;
    color: var(--light-text-color);
    margin-bottom: 50px;
}

.slider__inner
{
    display: flex;
    align-items: center;
}

.slider__btn
{
    position: relative;
    cursor: pointer;
    margin-left: 50px;
}

.slider__btn::after
{
    position: absolute;
    color: #000;
}

.slider-arrow
{
    background-color: var(--transparent-color);
    border: 1px #fff solid;
    color: #fff;
    border-radius: 0px;
    padding: 10px 15px;
    cursor: pointer;
}
.slider-arrow:hover
{
    background-color: var(--accent-color);
    border: 1px #000 solid;
    color: #000;
}

/* ======== About Section ======== */
.about__top
{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 70px 0px;
    position: relative;
}

.about__text
{
    max-width: 370px;
    justify-content: space-around;
}

.about__title-box
{
    max-width: 600px;
    padding-left: 140px;
}

.about__title-box::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 27px;
    border-width: 2px 63px;
    border-color: var(--accent-color);
    border-style: solid;
}

.about__btn p
{
    border: 1px solid var(--dark-color);
    padding: 10px;
    margin-top: 50px;
    letter-spacing: 0.25px;
}

.about__items
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about__items img
{
    margin-bottom: 30px;
}

.about__items-item
{
    text-align: center;
    position: relative;
}

img[src*=about-3]
{
    padding-bottom: 10px;
}

.about__item-text
{
    padding: 0px 30px;
}

.about__item-links
{
    min-height: 180px;
    position: absolute; 
    top: 115%;
    left: 8%;
}

.about__item-links a
{
    color: #000;
    font-size: 0.75rem;
}

.about__item-links a:first-child
{
    border-bottom: 1px solid #000;
    border-width: 1px 5px;
}

